<li><button {{on 'click' (fn this.setSelectCortexRoll true)}} class="dropdown-item">Cortex Roll</button></li>

<CortexRoll @scene={{this.scene}} @destinationType="scene" @cortex={{this.scene.cortex}} @selectRoll={{this.selectCortexRoll}} />
